 {% extends 'base.html'%}
 {% load static%}
 {% block content%}
 <main1>
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="{% static 'images/image1.jpg'%}"  height="500" width="750" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="{% static 'images/image2.jpg'%}" height="500" width="750" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="{% static 'images/image3.jpg'%}" height="500" width="750" style="width:100%">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
    </div>
    <div class="cards-container">
        <div class="card">
            <img src="{% static 'images/card1.jpg'%}" alt="Card 1">
            <p>O+ blood can be given to any Rh-positive patient (O+, A+, B+, AB+). O+ individuals can receive blood from O+ and O- donors.</p>
        </div>
        <div class="card">
            <img src="{% static 'images/card2.jpg'%}" alt="Card 2">
            <p> A+ blood can be given to A+ and AB+ individuals. A+ individuals can receive blood from A+, A-, O+, and O- donors.</p>
        </div>
        <div class="card">
            <img src="{% static 'images/card3.jpg'%}" alt="Card 3">
            <p>B+ blood can be given to B+ and AB+ individuals. B+ individuals can receive blood from B+, B-, O+, and O- donors.</p>
        </div>
        <div class="card">
            <img src="{% static 'images/card4.jpg'%}" alt="Card 4">
            <p>As the universal recipient, AB+ individuals can receive blood from any blood type (AB+, AB-, A+, A-, B+, B-, O+, O-), but can only donate to other AB+ individuals.</p>
        </div>
        <div class="card">
            <img src="{% static 'images/card5.jpg'%}" alt="Card 5">
            <p>As the universal donor, O- blood can be given to patients of any blood type (O-, O+, A-, A+, B-, B+, AB-, AB+). However, O- individuals can only receive blood from other O- donors..</p>
        </div>
        <div class="card">
            <img src="{% static 'images/card6.jpg'%}" alt="Card 6">
            <p>A- blood can be given to A- and A+ as well as AB- and AB+ individuals. A- individuals can receive blood from A- and O- donors.</p>
        </div>
        <div class="card">
            <img src="{% static 'images/card7.jpg'%}" alt="Card 5">
            <p>B- blood can be given to B- and B+ as well as AB- and AB+ individuals. B- individuals can receive blood from B- and O- donors..</p>
        </div>
        <div class="card">
            <img src="{% static 'images/card8.jpg'%}" alt="Card 6">
            <p>AB- blood can be given to AB- and AB+ individuals. AB- individuals can receive blood from AB-, A-, B-, and O- donors.</p>
        </div>
    </div>
</main1>
<footer>
    <p>&copy; 2024 HemoHub. All rights reserved.</p>
    <p>
        <a href="privacy.html">Privacy Policy</a> | 
        <a href="terms.html">Terms of Service</a>
    </p>
</footer>
<script src="{% static 'js/script.js'%}"></script>
</body>
</html>
{% endblock content%}